<div class="container">

  <div class="row heading">
    <div class="col-md-12">
      <h1>
        <%= @registeredapp.name %> <br>
      </h1>
      <small>
        registered <%= time_ago_in_words(@registeredapp.created_at) %> ago by <%= @registeredapp.user.username %>  <br>
      </small>
    </div>
  </div>

  <div class="row content">

    <div class="col-md-8">
      <h4> URL: <%= link_to @registeredapp.url, "#{@registeredapp.url}"  %> </h4> <br>

      <!-- <h5>The number of associated events <strong><%= @events.count %></strong>.</h5>
      <p>
        <% @events.group_by(&:name).each do | name, event | %>
          <hr><%= name %></hr>
        <% end %>
      </p> -->

      <%= pie_chart @registeredapp.events.group(:name).count %>
      <%= line_chart @registeredapp.events.group_by_day("created_at").count %>

    </div>

    <div class="col-md-2">
      <%= link_to "Edit", edit_registeredapp_path(@registeredapp), class: "btn btn-success" %>
    </div>

    <div class="col-md-2">
      <%= link_to "Delete", @registeredapp, method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure you want to delete this app?"} %>
    </div>

  </div>

</div>
